<!DOCTYPE html>
<html>
<title>Typing Master</title>
<body>
	<h1>Input</h1>
	<div class="container">
	<div class="well">
		<label style="text-align:right; padding-right:20px;">Search a website:</label>
		<form action="/measure_speed/" method="get">
			<input type="text" class="form-control" name="typist_name" placeholder="Enter your name" required>
			<input type="text" class="form-control" name="text" placeholder="Enter text" required><br>
			<button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-search"></span>Measure</button>
		</form>
	</div>
</div>
</body>	
</html>	
